<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/tabs/home" routerLinkActive="selected" routerDirection="root">
      <ion-icon name="home-outline" aria-hidden="true" />
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="workout" routerLink="/tabs/workout" routerLinkActive="selected" routerDirection="root">
      <ion-icon name="barbell-outline" aria-hidden="true" />
      <ion-label>Train</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="diet" routerLink="/tabs/diet" routerLinkActive="selected" routerDirection="root">
      <ion-icon name="nutrition-outline" aria-hidden="true" />
      <ion-label>Diet</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" routerLink="/tabs/profile" routerLinkActive="selected" routerDirection="root">
      <ion-icon name="person-outline" aria-hidden="true" />
      <ion-label>You</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
